* { margin: 0px;}
html, body {height: 100%;}
body { background-color: #f4f4f4; margin:0px; font-family: sans-serif;font-weight: 500;}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-header, .page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}

footer {
	background-color: black;
	color: White;
	position: relative;
	width: 100%;
	bottom: 0px;
	text-align: center;
	height: auto;
}

.page-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a { text-decoration: none; color: #004393; font-weight: bold;}

.page-holder { position: fixed; width: 100%;  align-items: center; top:100px;}
.logo-container { flex-grow: 0; flex-shirnk: 0; width: 100%; justify-content: center;  display: flex;}

.container { margin: 5% 10% 0% 10%; }
.container p { font-size: 18px; line-height: 26px; margin-bottom: 26px;}
h2 {margin-bottom: 26px; text-transform: uppercase; letter-spacing: 2px;}

.link-bar {display: block; justify-content: center; margin:20px; text-align: center;}
.about-box { display: block; justify-content: center; text-align: center; margin:20px; font-size: 80%;}
.brick { width:5%; min-height: 50px; height: auto; display: inline-block; padding:4px;}
.color-1 { background-color: #69b8e7;}
.color-2 { background-color: #fbd368;}
.color-3 { background-color: #ed6f63;}
.color-4 { background-color: #4c7d61;}
.color-5 { background-color: #d4aacf;}
.color-6 { background-color: #bd4a53;}
.color-7 { background-color: #6bcde6;}
.color-black { background-color: black;}
.land-logo {
	display: flex; height: 50px; 
	text-align: center; vertical-align: middle; line-height: 100%; width: 60%; font-family: "termina", sans-serif;
	font-weight: 900; font-style: normal; font-size: 25px; line-height: 25px; letter-spacing: 3px; padding: 4px; 
	justify-content: center; /* Align horizontal */
	align-items: center
	}
.land-logo:hover {color: yellow;}
.font-white {color: white;}

/* Text Colors */
.text-white { color: white;}

/* Riso Colors Defined */
.riso-black { background-color: #000; }
.riso-medium-blue { background-color: #3255A4;}
.riso-hunter-green { background-color: #407060;}
.riso-red { background-color: #FF665E;}
.riso-coral { background-color: #FF8E91;}
.riso-fluo-pink { background-color: #FF48B0;}
.riso-yellow { background-color: #FFE800;}
.riso-kelly-green { background-color: #67B346;}
.riso-lime { background-color: #E3ED55;}
.riso-scarlet { background-color: #F65058;}
.riso-steel { background-color: #375E77;}

.color-sample { border:10px solid white; margin:20px; padding:20px; font-weight: bold;}


.navbar {
	text-transform: uppercase;
	text-align: center; 
	border: 0px; 
	padding: 0px;
	margin: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	}
.navbar ul {
	 border: 0px;
	 padding: 0px;
	 margin: 0px;
 }
.navbar ul li
	{
	  display: inline;
	  border:0px;
	  padding: 0px;
	  line-height: 36px;
	}
	
.navbar ul li a::after { content: url('/img/Star.svg'); display: inline-block; width: 18px; height: 18px; margin-left: 6px; margin-right: 6px; }
.navbar ul li:first-child a::before { content: url('/img/Star.svg'); width: 18px; height: 18px; display: inline-block; margin-right: 6px; text-decoration: none; }

.navbar ul li a {color: black; font-size:18px;}
.navbar ul li a:hover {color: #004393;}

.active-nav-link a { text-decoration-line: underline;
	  text-decoration-style: wavy;
	  text-decoration-color: #ed6f63;
	  text-underline-offset: 8px;
	  text-decoration-thickness: 2px;
}

.navbar-children { background-color: rgb(231, 231, 231); width: auto; padding: 6px 0px 6px 0px;}