---
title: Inks
tags: riso
layout: layout.html
eleventyNavigation:
  key: Inks
  parent: Riso
---

<h2>Our Current Inks</h2>

<p>You can <a href="../templates/">downlod a PDF with all these colors</a> and open it in Illustraotr to mess around and see how inks overlay.</p>

<div class="color-sample riso-black text-white">Black</div>
<div class="color-sample riso-medium-blue text-white">Medium Blue</div>
<div class="color-sample riso-hunter-green text-white">Hunter Green</div>
<div class="color-sample riso-red text-white">Red</div>
<div class="color-sample riso-coral text-white">Coral</div>
<div class="color-sample riso-fluo-pink text-white">Fluo Pink</div>
<div class="color-sample riso-yellow text-black">Yellow</div>
<div class="color-sample riso-kelly-green text-white">Kelly Green</div>
<div class="color-sample riso-lime text-black">Lime</div>
<div class="color-sample riso-scarlet text-white">Scarlet</div>
<div class="color-sample riso-steel text-white">Steel</div>